
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug
/cmake-build-debug/QSpyPlugins
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
*.filters
*.filters
.idea/
cmake-build-debug-visual-studio/
